* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--backgroun);
  color: var(--foreground);
  /* height: 100vh; */
}

.inputBox {
  display: flex;
  align-items: center;
  border: 0.5px solid var(--accent);
  border-radius: 10px;
  margin: 10px;
  background-color:#223941;
  transition: 0.3s ease;
  padding: 15px;
}

.inputBox:hover {
  border-color: var(--primary);
}

.inputBox input {
  border: none;
  outline: none;
  flex: 1;
  background-color: transparent;
  color: var(--foreground);
  font-size: 1.2rem;
}

/* .resultContainer {
  border-top: red;
  border-bottom: var(--accent);
} */

:root {
  --backgroun: #1d2b30;
  --foreground: #f1f3f4;
  --primary: #20acdf;
  --secondry: #a1b6bd;
  --accent: #1d5063;
}
h1,
h2,
h3,
h4,
h5,
.ft {
  font-family: "Roboto";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@plugins 'daisyui' {
  themes: false;
}
